<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="de" class="org.example.beans.DieselEng"/>
    <bean id="pe" class="org.example.beans.PetrolEng"/>

<!--    creating injection using setter injection-->
    <bean id="car" class="org.example.beans.Car">
        <property name="engine" ref="pe"/>
    </bean>



</beans>